{% extends "base.html" %}

{% block content %}


<p>This Finnish vocabulary site is designed to help learners explore Finnish words, their meanings, translations, examples, and relationships such as synonyms or words with the same root.</p>

<p>It is a personal project to create a structured and interactive way to learn Finnish, with features like:</p>
<ul>
    <li>Word meanings and multiple translations</li>
    <li>Examples with translations</li>
    <li>Categories and subcategories for organized learning</li>
    <li>Relations between words and meanings</li>
</ul>

{% endblock %}
