{% extends "base.html" %}

{% block content %}


<h2>Admin Dashboard</h2>

<div class="admin-summary">
    <p>Total words: {{ total_words }}</p>
    <p>Total categories: {{ total_categories }}</p>
</div>

<!-- Add New Word -->
<h4>Add New Word</h4>
<p>
    <a href="{{ url_for('admin_add_word') }}" class="admin-btn">Add Word</a>
</p>

<!-- Search Word -->
<h4>Search Word</h4>
<form method="get" action="{{ url_for('admin_edit_word_search') }}">
    <input type="text" name="word_query" placeholder="Enter word to edit" class="admin-input" required>
    <button type="submit" class="admin-btn">Search</button>
</form>

<!-- Last 10 Added Words -->
<h4>Last 10 Added Words</h4>
<ul>
    {% for w in recent_words %}
        <li>
            {{ w['word'] }} -
            <a href="{{ url_for('admin_edit_word', word_id=w['id']) }}">Edit</a>
        </li>
    {% endfor %}
</ul>



<a href="{{ url_for('admin_list_words') }}" class="admin-btn-small">View All Words</a></li>

<hr>

<!-- Add New Category -->
<h4>Add New Category</h4>
<p>
    <a href="{{ url_for('admin_add_category') }}" class="admin-btn">Add Category</a>
</p>

<!-- Search Category -->
<h4>Search Category</h4>
<form method="get" action="{{ url_for('admin_search_category') }}">
    <input type="text" name="query" placeholder="Enter category name" class="admin-input">
    <button type="submit" class="admin-btn">Search</button>
</form>

<!-- Last 10 Added Categories -->
<h4>Last 10 Added Categories</h4>
<ul>
    {% for c in recent_categories %}
        <li>
            {{ c['name'] }} -
            <a href="{{ url_for('admin_edit_category', category_id=c['id']) }}">Edit</a> 
        </li>
    {% endfor %}
</ul>

<a href="{{ url_for('admin_list_categories') }}" class="admin-btn-small">View All Categories</a>

<hr>


<h3>Relations</h3>
<ul>
    <li>
        <a href="{{ url_for('admin_relation_types') }}" class="admin-btn-small">
            Edit Relation Types
        </a>
    </li>
    <li>
        <a href="{{ url_for('admin_relations_search') }}" class="admin-btn-small">
            Edit Relations
        </a>
    </li>
    <li>
        <a href="{{ url_for('admin_word_relations_list') }}" class="admin-btn-small">
            View All Word Relations
        </a>
    </li>
    <li>
        <a href="{{ url_for('admin_meaning_relations_list') }}" class="admin-btn-small">
            View All Meaning Relations
        </a>
    </li>
</ul>

<hr>
<!-- Logout -->
<form method="get" action="{{ url_for('logout') }}">
    <button type="submit" class="admin-btn">Logout</button>
</form>
{% endblock %}
