{% extends "base.html" %}
{% block content %}


<p>Choose the levels you want to see in the Words and Categories sections. Search is always over all words.</p>

<form method="POST">

    <div class="level-selector">

        
        <!-- Real levels -->
        {% for level in levels %}
            {% if level.id != 0 %}
            <label class="level-option">
                <input type="checkbox" name="levels" value="{{ level.id }}"
                       {% if level.id in selected_levels %}checked{% endif %}>
                    {{ level.name }}
            </label>
            {% endif %}
        {% endfor %}

        <!-- NO LEVEL option -->
        <label class="level-option">
            <input type="checkbox" name="levels" value="0"
                   {% if 0 in selected_levels %}checked{% endif %}>
            No Level 
        </label>

    </div>

    <button type="submit" class="admin-btn" style="margin-top: 15px;">
        Save Level Preferences
    </button>

</form>

{% endblock %}
