{% extends "base.html" %}
{% block content %}


<form method="POST">
    <input type="text" name="query" value="{{ query }}" placeholder="Enter a Finnish word">
    <button type="submit">Search</button>
</form>

{% if query %}
    <h2>Search Results for "{{ query }}"</h2>

    {% if results %}
        <ul>
        {% for word in results %}
            <li><a href="{{ url_for('show_word', word_name=word) }}">{{ word }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No words found matching your search.</p>
    {% endif %}
{% endif %}
{% endblock %}
